html, body {
	margin: 0;
	padding: 0;
	position: relative;
    text-rendering: geometricPrecision;
	font-family: 'nimbus', sans-serif;
}
.col-sm-2.text-center img,
.col-sm-2.text-center h3 {
	margin-left: -50px;
}
.tablesansbordure td,
.tablesansbordure th,
.tabletotaux td,
.tabletotaux th {border-top: none!important;}
.tablesansbordure:first-child .col-sm-4 {padding-bottom: 25px;}
.tabletotaux {width: auto; margin-top: 0; margin-left: auto; border-top: none;}
.tabletotaux td {
	border-bottom: solid 1px #AAA;
	border-right: solid 1px #AAA;
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.tabletotaux tr:nth-child(1) td:first-child,
.tabletotaux tr:nth-child(2) td:first-child {
	border-left: solid 1px #AAA;
}
h2 {font: 900 35px 'nimbus', sans-serif!important;}
strong.montanttotal {font: 900 17px 'nimbus', sans-serif;}
.container {page-break-after: always;}
@media print {
	button {display: none; visibility: hidden;}
}
.tabcontour {
	padding: 0;
}
.infofac {
	border: solid 1px #CCC;
	margin:5px 0;
}
.infofac td {
	border-bottom: solid 1px #E0E0E0!important;
	font-size: 12px;
	text-align: center;
}
.infofac tr:last-child td {
	border: none!important;
}
.tablepaiement td {
	border: none!important;
}
.idclient {padding: 75px 10% 0 0!important;}
.bordure {
	border: solid 1px #AAA;
	margin-bottom: 0;
	margin-top: 30px;
}
.bordure th {
	border-bottom: solid 1px #AAA!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.bordure td {
	padding: 25px 15px!important;
}
h3 {
	font: normal 18px 'nimbus', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
footer {
	margin-top: 45px;
}
footer span {
	display: inline-block;
	border-top: solid 1px #EAEAEA;
	border-bottom: solid 1px #EAEAEA;
	padding: 15px 0;
}
footer small {
	display: block;
	margin: 10px 0 0px;
	font-size: 11px;
}


@font-face {
    font-family: 'nimbus';
    src: url('NimbusSanNovT-Lig.eot');
	src: url('NimbusSanNovT-Lig.eot?#iefix') format('embedded-opentype'),
		url('NimbusSanNovT-Lig.woff2') format('woff2'),
		url('NimbusSanNovT-Lig.woff') format('woff'),
		url('NimbusSanNovT-Lig.ttf') format('truetype'),
		url('NimbusSanNovT-Lig.svg#nimbus') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nimbusl';
	src: url('NimbusSanNovT-UltLig.eot');
	src: url('NimbusSanNovT-UltLig.eot?#iefix') format('embedded-opentype'),
		url('NimbusSanNovT-UltLig.woff2') format('woff2'),
		url('NimbusSanNovT-UltLig.woff') format('woff'),
		url('NimbusSanNovT-UltLig.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}